openapi: 3.2.0
info:
  title: Upstash Kafka API
  version: 2.0.0
  summary: Developer (management) API and Redis REST API for Upstash.
  description: 'Upstash exposes two distinct HTTP API surfaces:


    1.'
  contact:
    name: Upstash Docs
    url: https://upstash.com/docs
  license:
    name: Proprietary
    url: https://upstash.com/static/docs/terms.pdf
servers:
- url: https://api.upstash.com/v2
  description: Upstash Developer (management) API
- url: https://{endpoint}.upstash.io
  description: Per-database Redis REST API endpoint
  variables:
    endpoint:
      default: example-12345
      description: Database-specific endpoint hostname from the Upstash console
tags:
- name: Kafka
  description: Kafka cluster and topic management
paths:
  /kafka/clusters:
    get:
      tags:
      - Kafka
      summary: List Kafka clusters
      operationId: listKafkaClusters
      security:
      - basicAuth: []
      servers:
      - url: https://api.upstash.com/v2
      responses:
        '200':
          description: Kafka cluster collection
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KafkaCluster'
components:
  schemas:
    KafkaCluster:
      type: object
      properties:
        cluster_id:
          type: string
        name:
          type: string
        region:
          type: string
        creation_time:
          type: integer
        state:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth with Upstash account email and API key.
    bearerAuth:
      type: http
      scheme: bearer
      description: Database-scoped bearer token issued from the Upstash console.
