openapi: 3.1.0
info:
  title: Upstash APIs
  version: 2.0.0
  summary: Developer (management) API and Redis REST API for Upstash.
  description: |
    Upstash exposes two distinct HTTP API surfaces:

    1. The Developer (Management) API at https://api.upstash.com/v2 — used
       to programmatically create and administer Upstash Redis, Kafka, and
       Vector databases, teams, and account-level resources. Authentication
       is HTTP Basic using account email + API key.

    2. The per-database Redis REST API at https://{endpoint}.upstash.io —
       used to execute Redis commands over HTTPS from edge and serverless
       runtimes. Authentication is a Bearer token scoped to the database
       (or via ?_token=... query parameter).

    Endpoint surface confirmed against https://upstash.com/docs/devops/developer-api
    and https://upstash.com/docs/redis/features/restapi.
  contact:
    name: Upstash Docs
    url: https://upstash.com/docs
  license:
    name: Proprietary
    url: https://upstash.com/static/docs/terms.pdf
servers:
  - url: https://api.upstash.com/v2
    description: Upstash Developer (management) API
  - url: https://{endpoint}.upstash.io
    description: Per-database Redis REST API endpoint
    variables:
      endpoint:
        default: example-12345
        description: Database-specific endpoint hostname from the Upstash console
tags:
  - name: Account
    description: Account management
  - name: Teams
    description: Team and member management
  - name: Redis
    description: Redis database management
  - name: Kafka
    description: Kafka cluster and topic management
  - name: Vector
    description: Vector index management
  - name: RedisCommand
    description: Per-database Redis command execution
paths:
  /redis/databases:
    get:
      tags: [Redis]
      summary: List Redis databases
      operationId: listRedisDatabases
      security:
        - basicAuth: []
      servers:
        - url: https://api.upstash.com/v2
      responses:
        '200':
          description: Redis database collection
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RedisDatabase'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Redis]
      summary: Create a Redis database
      operationId: createRedisDatabase
      security:
        - basicAuth: []
      servers:
        - url: https://api.upstash.com/v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisDatabaseInput'
      responses:
        '200':
          description: Redis database created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisDatabase'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /redis/database/{databaseId}:
    get:
      tags: [Redis]
      summary: Retrieve a Redis database
      operationId: getRedisDatabase
      security:
        - basicAuth: []
      servers:
        - url: https://api.upstash.com/v2
      parameters:
        - $ref: '#/components/parameters/DatabaseId'
      responses:
        '200':
          description: Redis database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisDatabase'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Redis]
      summary: Delete a Redis database
      operationId: deleteRedisDatabase
      security:
        - basicAuth: []
      servers:
        - url: https://api.upstash.com/v2
      parameters:
        - $ref: '#/components/parameters/DatabaseId'
      responses:
        '200':
          description: Redis database deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /kafka/clusters:
    get:
      tags: [Kafka]
      summary: List Kafka clusters
      operationId: listKafkaClusters
      security:
        - basicAuth: []
      servers:
        - url: https://api.upstash.com/v2
      responses:
        '200':
          description: Kafka cluster collection
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KafkaCluster'
  /vector/index:
    get:
      tags: [Vector]
      summary: List vector indexes
      operationId: listVectorIndexes
      security:
        - basicAuth: []
      servers:
        - url: https://api.upstash.com/v2
      responses:
        '200':
          description: Vector index collection
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VectorIndex'
  /teams:
    get:
      tags: [Teams]
      summary: List teams
      operationId: listTeams
      security:
        - basicAuth: []
      servers:
        - url: https://api.upstash.com/v2
      responses:
        '200':
          description: Team collection
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
  /pipeline:
    post:
      tags: [RedisCommand]
      summary: Execute a Redis pipeline
      description: |
        Execute multiple Redis commands in a single round trip against the
        per-database Redis REST API. Request body is a JSON array of
        commands, where each command is itself an array starting with the
        command name.
      operationId: redisPipeline
      security:
        - bearerAuth: []
      servers:
        - url: https://{endpoint}.upstash.io
          variables:
            endpoint:
              default: example-12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: Pipeline results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RedisCommandResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /multi-exec:
    post:
      tags: [RedisCommand]
      summary: Execute Redis commands atomically
      description: Execute a batch of Redis commands as an atomic MULTI/EXEC transaction.
      operationId: redisMultiExec
      security:
        - bearerAuth: []
      servers:
        - url: https://{endpoint}.upstash.io
          variables:
            endpoint:
              default: example-12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: Transaction results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RedisCommandResult'
  /publish/{channel}/{message}:
    post:
      tags: [RedisCommand]
      summary: Publish a message to a pub/sub channel
      operationId: redisPublish
      security:
        - bearerAuth: []
      servers:
        - url: https://{endpoint}.upstash.io
          variables:
            endpoint:
              default: example-12345
      parameters:
        - name: channel
          in: path
          required: true
          schema:
            type: string
        - name: message
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Number of clients that received the message
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic auth with Upstash account email and API key.
    bearerAuth:
      type: http
      scheme: bearer
      description: Database-scoped bearer token issued from the Upstash console.
  parameters:
    DatabaseId:
      name: databaseId
      in: path
      required: true
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    RedisDatabase:
      type: object
      properties:
        database_id:
          type: string
        database_name:
          type: string
        region:
          type: string
        port:
          type: integer
        creation_time:
          type: integer
        state:
          type: string
        endpoint:
          type: string
    RedisDatabaseInput:
      type: object
      required: [name, region]
      properties:
        name:
          type: string
        region:
          type: string
        tls:
          type: boolean
          default: true
    KafkaCluster:
      type: object
      properties:
        cluster_id:
          type: string
        name:
          type: string
        region:
          type: string
        creation_time:
          type: integer
        state:
          type: string
    VectorIndex:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        region:
          type: string
        dimension_count:
          type: integer
        similarity_function:
          type: string
    Team:
      type: object
      properties:
        team_id:
          type: string
        team_name:
          type: string
        copy_cc:
          type: boolean
    RedisCommandResult:
      type: object
      properties:
        result:
          description: Result value (type depends on command)
        error:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
